.register {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../assets/image/bg-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.register-form {
  padding: 70px 100px;
  background-color: var(--card);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: max-content;
  z-index: 100;
}
.register-form h2 {
  margin-bottom: 35px;
  text-align: center;
}
.login-account-div {
  margin-top: 20px;
}
.password-wrapper {
  position: relative;
}
.eye-icon {
  position: absolute;
  left: 15px;
  top: 64%;
  transform: translateY(-50%);
  cursor: pointer;
  color:white;
  background-color:rgb(17, 20, 53);
  border-radius: 2px;
  padding: 0px 5px;
  opacity: 0.7;
}
.strength-bar {
  margin-top: 10px;
}
.bar {
  height: 6px;
  border-radius: 10px;
  transition: 0.3s;
}
.strength-1 {
  width: 20%;
  background: red;
}
.strength-2 {
  width: 40%;
  background: orange;
}
.strength-3 {
  width: 60%;
  background: yellow;
}
.strength-4 {
  width: 80%;
  background: lightgreen;
}
.strength-5 {
  width: 100%;
  background: green;
}
.strength-bar p {
  font-size: 13px;
  color: white;
  margin-top: 5px;
  opacity: 0.8;
}
.rules {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  width: 100%;
  margin-bottom: 10px;
}

.rules span {
  flex: 1;
  text-align: center;

  padding: 6px 0;
  border-radius: 8px;

  font-size: 12px;

  color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);

  transition: 0.3s ease;

  display: inline-block;
}

/* ACTIVE STATE */
.rules span.ok {
  color: #4ade80 !important;
  background: rgba(74, 222, 128, 0.15) !important;
  font-weight: bold;
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .register-form {
    width: 100%;
    padding: 100px 10px;
  }
  .register {
    padding: 0px 10px;
  }
  .rules{
    width: 70%;
  }
}
